* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(328, 100%, 54%, 20%);
}
.container {
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
}
header {
  margin-top: 20px;
  overflow: hidden;
}
header p {
  font-size: 20px;
  color: #777;
}
.heart {
  font-size: 60px;
  color: deeppink;
  margin: 0;
  animation: heart 1s linear infinite;

}
.husband {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.husband img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.ring img {
  width: 200px;
  height: 200px;
  color: hsl(328, 100%, 54%, 20%);
  box-shadow: 0px 0px 20px 5px deeppink;
  margin-top: 75px;
}
.husband h3 {
  position: relative;
  border-bottom: 2px solid deeppink;
  width: fit-content;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
}
.husband .groom h3::after,
.husband .bride h3::after {
  top: 75%;
  left: 50%;
  transform: translate(-50%);
  background-color: #7b087b;
  padding: 4px 10px;
  font-size: 20px;
  color: deeppink;
  border-radius: 10px;
}
.husband .groom h3::after {
  content: "Groom";
  position: absolute;
}
.husband .bride h3::after {
  content: "Bride";
  position: absolute;
}
.husband .links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
a {
  color: black;
}
.husband .social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.social-icons:hover {
  cursor: pointer;
}
.social-icons .fa-facebook {
  color: #385898;
}
.social-icons .fa-facebook:hover {
  color: #241dbd;
}

.social-icons .fa-twitter {
  color: #1da1f2;
}
.social-icons .fa-twitter:hover {
  color: #3b88f1;
}

.social-icons .fa-instagram {
  color: #9c0557;
}
.social-icons .fa-instagram:hover {
  color: deeppink;
}

.social-icons .fa-github {
  color: black;
}
.social-icons .fa-github:hover {
  color: red;
}

.social-icons .fa-youtube {
  color: red;
}
.social-icons .fa-youtube:hover {
  color: black;
}

.social-icons i {
  font-size: 40px;
}
.husband p {
  color: #777;
  min-width: 100%;
  color: deeppink;
  margin-top: 20px;
}
.husband .groom img,
.husband .bride img {
  transition-duration: 0.5s;
}
.husband .groom img:hover,
.husband .bride img:hover {
  transform: scale(1.1);
  border: 3px solid deeppink;
}

@media (max-width: 767px) {
  .husband {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .groom img {
     margin-top: 15px;
  }
  .husband h3 {
    font-size: 22px;
  }
  .ring img {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .husband img {
    width: 250px;
    height: 250px;
  }
  .ring img {
    width: 150px;
    height: 150px;
  }
}

@keyframes heart {
  0%,
  50% {
    transform: scale(1.4);
  }
  50%,
  80% {
    transform: scale(1.2);
  }
  80%,
  100% {
    transform: scale(1);
  }
}

